.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6332,#f53f2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0,0.2);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    
}

.header__navbar-user-menu{
    position:absolute;
    padding: 8px 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;

}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 65%;
    height: 8px;
    
}

.header__navbar-user-menu::before{
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
   display: block;
   padding: 8px 16px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0,0.05);
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
   border-left: 1px solid #FB9806;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
    list-style: none;
}
.header__navbar-title--no-poiter{
    cursor: text;
    color: var(--white-color);
}
/* QR-CORE */
.header__qr{
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.1);
}
/* CREATE CLASS COVER */
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
   margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
 }
.header__qr-dowload-img{
    height: 16px;
}
/* header notifycation */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    width: 404px;
    right: 0;
    border: 1px solid rgba(0, 0, 0,0.1);
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrouwth ease-in 0.2s;
    display: none;
    will-change: opacity,transform;
    border-radius: 2px;
}

/* fake class for header__notify */
.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 16px;
    right: 0;
    top: -16px;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
@keyframes headerNotifyGrouwth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #9999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}
.header__notify-item:hover{
   background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
   
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 4px;
}
.header__notify-footer{
   
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
}
/* authen-modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 0 14px;
}
.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    border-left: 1px solid #eaeaea;
    margin: 1px 16px 0;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
.header-width-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    width: 150px;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

/* HEADER CART */

.header-cart{
    width: 150px;
    text-align: center;
   
}
.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header-cart-wrap:hover .header-cart-list{
    display: block;
}

.header-cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header-cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 6px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    cursor: default;
    display: none;
    z-index: 1;
}

.header-cart-list::after{
    content: "";
    position: absolute;
    right: -1px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header-cart--nocart-img{
    width: 50%;
    cursor: default;
    display: none;
}
.header-cart-list--nocart{
    padding: 24px 0;
}

.header-cart-list--nocart .header-cart--nocart-img,
.header-cart-list--nocart .header__cart-list-nocart-msg{
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

.header__cart-list-nocart-msg{
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

.header-cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top:-4px;
    right: -4px;
}

/* CART HAS PRODUCE */
.header-cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px ;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header-cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}
.header-cart-item{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-cart-item:hover{
    background-color: #f8f8f8;
}

.header-cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header-cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header-cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header-cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header-cart-item-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px 0 4px;
}

.header-cart-item-qtn{
    color: #757575;
    font-size: 1.2rem;
}

.header-cart-item-body{
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header-cart-item-discription{
    font-size: 1.3rem;
    font-weight: 300;
    color: #757575;
}

.header-cart-item-remove{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.header-cart-item-remove:hover{
    color: var(--primary-color);
}
.header-cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header-cart-view-cart:hover{
    background-color: #f05d41;
}
.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
   border-radius: 2px;
}
.header__search-selec{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}

.header__search-selec-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-selec-icon{
    font-size: 1.4rem;
    color: rgb(131, 128, 128);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 2px;
    outline: none;
}
.header__search-btn:hover{
    cursor: pointer;
    background-color:#f0806a;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-option{
    position: absolute;
    right: 0;
    top:20px;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 1px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-selec:hover .header__search-option{
    display: block;
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* searchh-history */
.header__search-history{
    position: absolute;
    top: calc( 100% + 12px );
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
    display: none;
    overflow: hidden;
    z-index: 1;
   
}
.header__search-history a{
    display: block;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
     margin: 6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
   
}
.header__search-history-item:first-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}
/* container */
.container{
    background-color: #f5f5f5;
}

.container-content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.05);
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
 
}

.category-item--active .category-item__link{
   color: var(--primary-color);
}
.category-item{
    position: relative;
}
.category-item::before{
    content: "";
    right: 16px;
    top: 0;
    left: 16px;
    border-top: 1px solid #e1e1e1;
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    display: block;
   
}
.category-item__link:hover{
   
    color: var(--primary-color);   
}

/* home sort */
.home-filter{
    background-color: rgba(0, 0, 0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
   flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disabled{
    cursor: default;
    background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* home product */
.home__product{
   margin-bottom: 20px;
}

.home__product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home__product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 0.1rem 2rem 0 rgba(0, 0, 0,0.05);
}

.home__product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home__product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    /* ở đây là tạo dấu ba chấm ở dòng chữ thứ mấy mà bạn muốn*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home__product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home__product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home__product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home__product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home__product-item__like{
    font-size: 1.3rem;
}
i.home__product-item__like--like-icon-fill{
    color: #f63d30;
    display: none;
}

.home__product-item__like--like .home__product-item__like--like-icon-fill{
    display: inline-block;
}
.home__product-item__like--like .home__product-item__like--like-icon-empty{
    display: none;
}
.home__product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin:-1px 0 0 auto;
}
.home__product-item__star-gold{
    color: var(--star-gold-color);
}
.home__product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home__product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home__product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color:currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home__product-item__favourite span{
    color: var(--white-color);
}
.home__product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top:3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home__product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}
.home__product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color:rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home__product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.94);
}

.home__product-item__sale-off-percent{
    font-size: 1.3rem;
    color: #ee4d2d;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
}

.home__product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
  
    font-weight: 600;
}

.home__product-pagination{
    margin: 48px 0 32px 0; 
    
}
/* footer  */
.footer{
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list{
    padding-left: 0;
    list-style: none;
}



.footer__list-item-link{
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    padding: 2px 0;
    display: block;
    display: flex;
    align-items: center;
}
.footer__list-item-link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__dowload{
    display: flex;
}
.footer__dowload-qr-img{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--boder-color);
}
.footer__dowload-apps{
    flex:1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__dowload-apps-icon{
    height: 16px;
}
.footer__bottom{
    background-color: #f5f5f5;
    min-height: 48px;
    padding: 24px 0;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}